<div class="col-md-6">
  <form class="form" role="form">
    <div class="form-group">
      <label>Old pwd</label>
      {{view Ember.TextField classNames="form-control" type="password" value=currentPassword}}
    </div>
    <div class="form-group">
      <label>password</label>
      {{view Ember.TextField classNames="form-control" type="password" value=newPassword}}
    </div>
    <div class="form-group">
      <label>password</label>
      {{view Ember.TextField classNames="form-control" type="password" value=verifyPassword}}
    </div>
    <div class="form-group">
      <button class="btn btn-default" {{action "changePassword"}}>Change</button>
    </div>
    <div class="text-center text-danger">
      <strong>{{serverErrorMessage}}</strong>
    </div>
  </form>
</div>
